.loader {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border-top: 5px solid var(--button-bg-secondary);
  border-bottom: 5px solid var(--border-light);
  border-left: 5px solid var(--border-light);
  border-right: 5px solid var(--border-light);
  animation: spinner 0.7s linear forwards infinite;
}

.loader-component {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

@keyframes spinner {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
