.singlepost-feeds {
  width: 90%;
  margin-bottom: 2rem;
}

.singlepost-article {
  width: 90vw !important;
  background: var(--white);
  padding: 0.5rem;
  display: flex;
  height: 25rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 0.5rem;
  margin: 4rem 0rem;
  color: var(--primary-accent-light-contrast);
}

.singlepost-user-info {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 0.5rem;
}

.singlepost-user-info img {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
  margin-right: 1rem;
  border-radius: 50%;
}

.singlepost-user-detail {
  font-size: 0.9rem;
  text-align: left;
}

.singlepost-user-detail p {
  font-weight: 800;
}

.singlepost-user-detail small {
  font-size: 0.6rem;
}

.singlepost-feed-content {
  width: 100%;
  padding: 0.5rem;
}

.singlepost-feed-content img {
  width: 100%;
  border-radius: 0.5rem;
  height: 15rem;
  object-fit: cover;
}

.singlepost-feed-text-content {
  width: 100%;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border-light);
  overflow-y: auto;
  border-radius: 0.5rem;
  color: var(--white);
  background: var(--text-background);
}

.singlepost-feed-text-content p {
  font-size: 1rem;
  font-weight: 500;
  width: 100%;
  overflow-y: auto;
  word-wrap: break-word;
}

.singlepost-feed-post-desc {
  padding: 0.5rem;
  font-size: 0.8rem;
  word-wrap: break-word;
  width: 100%;
}

.singlepost-feed-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
}

.singlepost-feed-reaction {
  display: flex;
  width: 45%;
  justify-content: space-between;
  align-items: center;
}

.singlepost-feed-likes,
.singlepost-feed-comment {
  display: flex;
  width: 35%;
  font-size: 0.8rem;
  align-items: center;
}

.singlepost-feed-likes p,
.singlepost-feed-comment p {
  margin-left: 0.3rem;
}

.singlepost-nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  top: 0;
  background: var(--primary-accent-light);
  border-bottom: 1px solid var(--border-light);
  color: var(--primary-accent-light-contrast);
  z-index: 10;
}

.singlepost-heading {
  width: 100%;
  text-align: center;
}

.singlepost-heading h2 {
  font-size: 1.2rem;
}


/* @media screen and (min-width:495px) {

  .singlepost-nav{
    width: 36rem;
  }

  .singlepost-article{
    width: 30rem;
    margin-left: 1rem;
  }
  
} */