.rambler-map-nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: var(--primary-accent-light);
  border-bottom: 1px solid var(--border-light);
  color: var(--primary-accent-light-contrast);
  z-index: 10;
}

.rambler-map-heading {
  width: 100%;
  text-align: center;
}

.rambler-map-heading h2 {
  font-size: 1.2rem;
}


@media screen and (min-width: 495px) {
  .rambler-map-nav {
    width: 34rem;
  }
}
