.profile-info {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 1rem 1rem 1rem;
  margin-bottom: 2rem;
  color: var(--primary-accent-light-contrast);
}

.basic-info {
  justify-content: space-between;
  display: flex;
  align-items: center;
  width: 100%;
}

.basic-info img {
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
  object-fit: cover;
  border-radius: 1rem;
}

.basic-desc {
  text-align: left;
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.basic-desc h2 {
  font-size: 1rem;
  margin-bottom: 0.2rem;
}
.basic-desc p {
  font-size: 0.7rem;
  word-wrap: break-word;
}
.basic-desc small {
  font-size: 0.6rem;
}

.profile-status {
  margin: 1.5rem 0rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.status {
  width: 50%;
  padding: 0rem 1rem;
  height: 2.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile-following {
  border-left: 2px solid var(--border-light);
  border-right: 2px solid var(--border-light);
}

.status p {
  font-size: 0.7rem;
}

.status h3 {
  font-size: 1rem;
}

.edit-profile {
  width: 100%;
}

.edit-profile button {
  width: 100%;
  padding: 0.5rem 1rem;
  border: 2px solid var(--border-light);
  border-radius: 1rem;
  background: var(--white);
  font-family: "Roboto", sans-serif;
}

.profile-details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.profile-details button {
  padding: 0.6rem 1rem;
  border: none;
  background: none;
  font-weight: 700;
  color: var(--primary-accent-light-contrast);
}
