.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.App-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-bottom {
  position: fixed;
  bottom: 0%;
  width: 100%;
  z-index: 5;
}

@media screen and (min-width: 495px) {
  .App {
    width: 45%;
  }

  .nav-bottom {
    width: 60%;
  }
}
